.navbar {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.215);
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem clamp(2rem, 12vw, 6rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.logo span {
    color: red;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}